[submodule "libs/cimgui"]
	path = libs/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm
[submodule "libs/ddnet_map_loader"]
	path = libs/ddnet_map_loader
	url = https://github.com/Teero888/ddnet_maploader_c99
