[submodule "libs/cimgui"]
	path = libs/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm
[submodule "libs/nfd"]
	path = libs/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "libs/ddnet_physics"]
	path = libs/ddnet_physics
	url = https://github.com/Teero888/ddnet_physics_c.git
[submodule "libs/ddnet_demo"]
	path = libs/ddnet_demo
	url = https://github.com/Teero888/ddnet_demo_c99
